body {
    background-color: rgb(141, 60, 226);
}


.small-image {
    width: 200px; 
    height: auto; 
}

h1 {
   
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* Sombra sutil */
}


